@model Facturacion.Models.Articulo

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center">Eliminar artículo</h2>

<hr />

<div>
    <div class="container w-75 d-block div-bordered">
        <section class="p-3">
            <div class="container">
                <div class="card-rounded">
                    <div class="card-body">
                        <div class="form-group row mt-2">
                            <div class="col-12 text-center">
                                <h4 class="font-weight-bold mb-3">Datos del artículo</h4>
                            </div>
                        </div>
                        <hr />

                        <div class="form-group">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Precio_Unitario" class="control-label"></label>
                            <input asp-for="Precio_Unitario" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="ID_Estado" class="control-label"></label>
                            <select asp-for="ID_Estado" class="form-control" asp-items="ViewBag.ID_Estado" disabled></select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <div class="form-group row mt-4">
            <div class="col-6 text-right">
                <input type="submit" value="Eliminar" class="btn btn-danger px-3 py-2 w-50" />
            </div>

            <div class="col-6 text-left">
                <a class="btn btn-secondary px-3 py-2 w-50" asp-action="Index">Volver atrás</a>
            </div>
        </div>
    </form>
</div>
