@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Bienvenido!</h1>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="panel panel-primary panel-primary-bordered">
            <div class="panel-heading">
                <a asp-controller="Cliente" asp-action="Index">
                    <div class="row">
                        <div class="col-12 text-center my-4">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <a asp-controller="Cliente" asp-action="Index">
                <div class="panel-footer mx-2 my-1">
                    <span class="pull-left">Gestión de clientes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="panel panel-green panel-green-bordered">
            <div class="panel-heading">
                <a asp-controller="Articulo" asp-action="Index">
                    <div class="row">
                        <div class="col-12 text-center my-4">
                            <i class="fa fa-laptop fa-5x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <a asp-controller="Articulo" asp-action="Index">
                <div class="panel-footer mx-2 my-1">
                    <span class="pull-left">Gestión de artículos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="panel panel-yellow panel-yellow-bordered">
            <div class="panel-heading">
                <a asp-controller="Vendedor" asp-action="Index">
                    <div class="row">
                        <div class="col-12 text-center my-4">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <a asp-controller="Vendedor" asp-action="Index">
                <div class="panel-footer mx-2 my-1">
                    <span class="pull-left">Gestión de vendedores</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="panel panel-red panel-red-bordered">
            <div class="panel-heading">
                <a asp-controller="Facturacion" asp-action="Index">
                    <div class="row">
                        <div class="col-12 text-center my-4">
                            <i class="fa fa-calculator fa-5x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <a asp-controller="Facturacion" asp-action="Index">
                <div class="panel-footer mx-2 my-1">
                    <span class="pull-left">Facturación de artículos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

